@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "roboto",serif;
  background-color: #141414;
}

.navbar{
  display: flex;
  height: 70px;
  background-color: rgb(19, 17, 17);
}

.netflix_logo{
  margin-top: -15px;
  margin-left: 8px;
  height: 94px;
}

.categories{
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories li{
  margin-left: 80px;
  color: rgb(232, 232, 232);
  list-style-type: none;
  font-size: 20px;
  cursor: pointer;
}

#root{
  width: 100%;
}

.search{
  display: flex;
  align-items: center;
  padding: 4px 5px;
  width: 40px;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.search input{
  padding: 4px 12px;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
}

.active{
  width: 350px;
  border: 0.4px solid white;
}

.titleSlide{
  text-align: left;
}

.slideOverveiw{
  text-align: left;
}

.cards {
  display: inline-block;
  transition: transform .2s;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin: 0.10rem;
  cursor:pointer;
  min-width:200px;
  height:300px;
  width: 150px;
  z-index:0;
  border: 1px solid rgb(99, 99, 99);
}

.cards:hover {
  transform: scale(1.2);
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cards__img {
  height: 300px;
}

.movie-container{
  margin-top: -6px;
  display:flex ;
  flex-wrap: wrap;
  flex-grow:calc(1);
  justify-content: center;
}